* {
    font-family: Poppins;
}

.mySlides {
    display: none
}

.left, .right, .badge {
    cursor: pointer
}

.badge {
    height: 13px;
    width: 13px;
    padding: 0
}

.slide-nav {
    width: 100%;
    z-index: 2
}

.slide, .slide .mySlides {
    height: 400px;
    width: auto;
    min-width: 100%;
}

.slide-nav div {
    height: 100px;
    padding: 0;
    z-index: 10;
    position: relative;
}

.slide .mySlidesTitulo header {
    z-index: 1
}

.slide .mySlidesTitulo header span {
    border: solid 1px rgba(255, 255, 255, 0.2);
    width: 290px;
}

.slide .mySlidesTitulo header span h1 {
    padding: 0 20px
}

.slide .mySlidesTitulo header img {
    height: 28px;
}

.slide-social {
    width: 30px;
    margin-left: 5%;
}

.slide-nav div img {
    width: 50px;
    height: auto
}

.slide-nav div:last-child {
    transform: rotate(180deg);
}

.header {
    height: 100px;
}

.header ul {
    width: 100%;
}

.slide_marcas, .showroom, .background-contact {
    background-size: cover;
    background-repeat: repeat-x;
}

.slide_marcas {
    height: auto;
    background-position: right 115px;
    background-image: url('img/fundo-slide-marcas.png');
}

.slide_marcas h2 {
    color: #ddd !important;
}

.showroom {
    height: 630px;
    padding: 0;
    background-color: #111!important;
}

.showroom section {
    padding: 48px 0;
}

.subtitle-index {
    width: 73px;
    opacity: 0.1
}

.subtitle-index img {
    height: 70px;
    padding: 0;
}

.gallery_horizontal_img {
    width: 50%;
}

.background-contact {
    background-image: url("img/fomulario.png");
    max-height: 596px;
    min-height: 300px;
}

.center-block {
    margin-left: auto;
    margin-right: auto;
    float: initial;
    display: block;
}

.btnSaveContato {
    border: solid 1px #111 !important;
    color: #111 !important;
    background: #EEEEEE !important;
    font-weight: bold;
    margin-top: -28px !important;
}

textarea {
    height: 100px !important;
}

#form_contato .margin-bottom {
    margin-bottom: 5px !important;
}

#form_contato .panel {
    margin-bottom: 0 !important;
}

.slide-marcas {
    height: 540px
}

.slide-marcas img {
    max-width: 100%;
    min-width: 75%;
    height: 500px;
    z-index: 2
}

.slide-marcas-nav {
    z-index: 1;
    width: 100%;
    height: 200px;
    background: #555555;
    color:#fff
}

.mySlidesShowroom {
    height: 255px;
    z-index: 2;
}

.mySlidesShowroom img {
    width: 100%;
    height: 100%;
}

.showroom-nav {
    height: 295px
}

.gallery_horizontal_img_not_align img {
    height: 190px;
}

.nav-marcas-nome {
    margin-top: -20px!important;
}

.nav-marcas-nome .badge {
    width: 20px;
    margin-left: 18px;
    border-radius: 0;
    border:none;
}

@media screen and (min-width: 500px) {
    .header ul {
        width: 520px;
    }

    .gallery_horizontal_img {
        width: 20%;
    }

    .slide-marcas {
        height: 700px
    }

    .slide-marcas img {
        max-width: 90%;
        min-width: 75%;
        height: 660px;
        z-index: 2
    }

    .slide_marcas {
        height: 630px;
    }

    .slide_marcas h2 {
        color: #666 !important;
    }

    .subtitle-index {
        width: 135px;
    }

    .subtitle-index img {
        height: 122px;
        padding: 0.01em 16px;
    }

    .background-contact {
        height: 700px;
    }

    .showroom {
        height: 580px;
        background-image: url('img/fundo-slide-marcas.png');
    }

    .showroom, .showroom section {
        padding-top: 64px;
    }

    .mySlidesShowroom {
        height: 430px;
    }

    .showroom-nav {
        height: 470px
    }

    .slide .mySlidesTitulo h2 {
        margin-left: -40px;
    }

    .slide-nav {
        width: 95%
    }

    .slide-nav div {
        height: 104px;
        padding: 12px 24px;
    }

    .slide, .slide .mySlides {
        height: 600px;
    }

    .slide-nav div img {
        width: 70px;
    }

    .slide .mySlidesTitulo header img {
        height: 53px;
    }

    .slide .mySlidesTitulo header span {
        border: solid 1px rgba(255, 255, 255, 0.3);
        width: auto;
    }

    .slide .mySlidesTitulo header span h1 {
        padding: 0 60px
    }

    .slide-marcas-nav {
        width: 95%;
        background: #000;
    }

    .gallery_horizontal_img_not_align img {
        height: 250px;
    }

    .gallery_horizontal_img_not_align:nth-child(1) img {
        margin-top: 30px;
    }

    .gallery_horizontal_img_not_align:nth-child(2) img, .gallery_horizontal_img_not_align:nth-child(4) img {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}